<!DOCTYPE html>
<html lang="es">

<head>
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/grid-12-col.css">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container-fluid"> 
  <header class="row pb-5">
  <div class="div-header-1">
      <figure>
          <img src="/images/logo.png" alt="logo mercado liebre" class="brand-logo" />
      </figure>

      <form method="get" action="/search"><input type="text" id="search-nav" name="search-nav">
          <button type="submit" class="search-btn">buscar
          </button>
      </form>

  <br/>
<div class="container text-center">
     <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
</div>
</div>
     <div class="div-header-2">

 
    </div>
    <nav>
  <ul id="navbarSupportedContent">
    <li class="navLinks nl6"><a href="" class="aNav">MI CARRITO
        <img alt="icon compras carrito" class="icon-size-01" src="/images/svg/i06_cart.svg" /></a>
        </li>
    <li class="navLinks nl6"><a href="" class="aNav">OFERTAS
        <img alt="icon novo usuario" class="icon-size-01" src="/images/svg/i04_shopping.svg" /></a>
        </li>  
        <li class="navLinks nl6"><a href="" class="aNav">TIENDAS OFICIALES
            <img alt="icon novo usuario" class="icon-size-01" src="/images/svg/i08_official.svg" /></a>
            </li>
            <li class="navLinks nl6"><a href="" class="aNav">VENDER
                <img alt="icon novo usuario" class="icon-size-01" src="/images/svg/i07_tag.svg" /></a>
                </li>          <li class="navLinks nl4"><a href="" class="aNav">Suporte 
            <img alt="icon contact" class="icon-size-01" src="/images/svg/i01_hand.svg"/></a></li>
          <li class="navLinks nl5"><a href="" class="aNav">Novos Usuarios 
            <img alt="icon novo usuario" class="icon-size-01" src="/images/svg/i02_idU.svg"/></a></li>
          <li class="navLinks nl6"><a href="" class="aNav">Login
              <img alt="icon novo usuario" class="icon-size-01" src="/images/svg/i03_enter.svg"/>
          </a></li>
        
          </a>
          </li>

      </ul>
      <div class="burger-menu mt-2">
        <button type="button" class="navbar-toggler btn-collapse" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <img alt="toogle button" class="btn-collapse-size" src="/images/svg/i05_hambuguer.svg" /> </button>
    </div>
  </nav>
</header>

<main>
    
    <section class="section-1">
        <h2 class="display-1">Basado en tu Ultima Visita</h2>
        <article>
            <h3>TV 50" </h3>
            <figure>
                <img src="/images/product1_tv.jpg" alt="" class="img-producto">
            </figure>
            <ul>
    
                <li class="display-2">PRECIO: $500.000</li>
                <li class="display-3">DESCUENTO $5.000</li>
                <li class="display-3">PRECIO FINAL: $455.000</li>
               </ul>
                        <div class="col-12 d-flex mt-2 mb-2">    
                <a href="#" class="btn btn-success mx-3">Go somewhere</a>
                  <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
    
        </article>
        <article>
            <h3>TV 50" </h3>
            <figure>
                <img src="/images/product1_tv.jpg" alt="" class="img-producto">
            </figure>
            <ul>
    
                <li class="display-2">PRECIO: $500.000</li>
                <li class="display-3">DESCUENTO $5.000</li>
                <li class="display-3">PRECIO FINAL: $455.000</li>
               </ul>
                        <div class="col-12 d-flex mt-2 mb-2">    
                <a href="#" class="btn btn-success mx-3">Go somewhere</a>
                  <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
    
        </article>
        <article>
            <h3>TV 50" </h3>
            <figure>
                <img src="/images/product1_tv.jpg" alt="" class="img-producto">
            </figure>
            <ul>
    
                <li class="display-2">PRECIO: $500.000</li>
                <li class="display-3">DESCUENTO $5.000</li>
                <li class="display-3">PRECIO FINAL: $455.000</li>
               </ul>
                        <div class="col-12 d-flex mt-2 mb-2">    
                <a href="#" class="btn btn-success mx-3">Go somewhere</a>
                  <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
    
        </article>
    </section>
  <section class="section-1">
    <h2 class="display-1">Basado en tu Ultima Visita</h2>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>
</section>
<section class="section-1">
    <h2 class="display-1">Basado en tu Ultima Visita</h2>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>
    <article>
        <h3>TV 50" </h3>
        <figure>
            <img src="/images/product1_tv.jpg" alt="" class="img-producto">
        </figure>
        <ul>

            <li class="display-2">PRECIO: $500.000</li>
            <li class="display-3">DESCUENTO $5.000</li>
            <li class="display-3">PRECIO FINAL: $455.000</li>
           </ul>
                    <div class="col-12 d-flex mt-2 mb-2">    
            <a href="#" class="btn btn-success mx-3">Go somewhere</a>
              <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>

    </article>

</section>

</main>
</div>


</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>